{% load i18n %}
{% load static %}


<script defer src="{% static 'js/footer/client_actual_year.js' %}" ></script>
<footer class="border-top text-center py-3">
  <p id="curryear">© {% now 'Y-m-d H:i:s:ms\Z' %}</p>
  <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select class="btn btn-mini" name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
          <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
        {% endfor %}
    </select>
    <input class="mt-auto btn btn-md btn-block btn-primary" type="submit" value={% trans "go"|capfirst %}>
  </form>
</footer>